{% extends "index.html"%}
    {% block dashboard %}
        <div class="row">
            <div class="col-md-4">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Optimal velocity</h5>
                        <p class="card-text display-4">{{ optimal_velocity }} mph</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Solar Panel Output</h5>
                        <p class="card-text display-4">{{ solar_panel_output }} W</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Current Temperature</h5>
                        <p class="card-text display-4">{{ current_temp }} &deg;C </p>
                    </div>
                </div>
            </div>
        </div>

        <div class="row mt-4">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Current Speed</h5>
                        <p class="card-text display-4">{{ current_speed }} mph</p>
                        <div class="progress">
                            <div class="progress-bar progress-bar-striped progress-bar-animated bg-danger" role="progressbar" style="width:{{current_speed}}%;" aria-valuenow="{{current_speed}}"
                                aria-valuemin="0" aria-valuemax="60"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Battery Status</h5>
                        <p class="card-text display-4">{{ battery }} %</p>
                        <div class="progress">
                            <div class="progress-bar progress-bar-striped progress-bar-animated bg-success" role="progressbar" style="width: {{battery}}%;" aria-valuenow="{{battery}}"
                                aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row mt-4">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Map</h5>
                        <div class="embed-responsive embed-responsive-16by9">
                            <iframe src="https://www.google.com/maps/embed?pb=!1m17!1m12!1m3!1d947.4884197923385!2d-67.13736873057024!3d18.212052272850876!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m2!1m1!2zMTjCsDEyJzQzLjQiTiA2N8KwMDgnMTIuMiJX!5e0!3m2!1sen!2spr!4v1679167232210!5m2!1sen!2spr" width="600" height="450" style="border: 1px; border-radius: 5px;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endblock %}
