<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="d-mg17">
    <meta name="description" content="UPRM SERRT Telemetry Division website">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
        crossorigin="anonymous" />
    <link type="image/png" rel="icon" href="static/images/icon-race-car.png" />
    <title>SERRT-UPRM</title>
</head>

<body class="bg-dark">

    <nav id="navbar" class="navbar navbar-expand-lg bg-dark">
        <div class="container-fluid">
            <img type="image/png" src="static/images/icons8-race-car-96.png" alt="Logo" width="96px" height="96px"
                class="rounded float-start shadow-lg bg-light">
            <img type="image/png" src="static/images/SolarCarLogo.png" alt="Official Team Logo" class="rounded float-end shadow-lg "
                height="98px">
        </div>
    </nav>

    <div class="container-fluid"> <br> {% block dashboard %}
        <div class="row">
            <div class="col-md-4">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Optimal velocity</h5>
                        <p class="card-text display-4"><em id="optimal_velocity">0</em> mph</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Solar Panel Output</h5>
                        <p class="card-text display-4"><em id="solar_panel_output">0</em> W</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Current Temperature</h5>
                        <p class="card-text display-4"><em id="temp">0</em> &deg;C </p>
                    </div>
                </div>
            </div>
        </div>

        <div class="row mt-4">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Current Speed</h5>
                        <p class="card-text display-4" id="current_speed">0 mph</p>
                        <div class="progress">
                            <div class="progress-bar progress-bar-striped progress-bar-animated bg-danger" role="progressbar" style="width: 0;" aria-valuenow="0"
                                aria-valuemin="0" aria-valuemax="60" id="progress-speed"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Battery Status</h5>
                        <p class="card-text display-4" id="battery">0%</p>
                        <div class="progress">
                            <div class="progress-bar progress-bar-striped progress-bar-animated bg-success" role="progressbar" style="width: 0;" aria-valuenow="0"
                                aria-valuemin="0" aria-valuemax="100" id="progress-battery"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <br/>
        <div class="row mt-4">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Map</h5>
                        <div class="embed-responsive embed-responsive-16by9">
                            <iframe src="https://www.google.com/maps/embed?pb=!1m17!1m12!1m3!1d947.4884197923385!2d-67.13736873057024!3d18.212052272850876!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m2!1m1!2zMTjCsDEyJzQzLjQiTiA2N8KwMDgnMTIuMiJX!5e0!3m2!1sen!2spr!4v1679167232210!5m2!1sen!2spr" width="600" height="450" style="border: 1px; border-radius: 5px;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endblock %}
        <br>
    </div>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <!-- <script src="static/index.js" type="js"></script> -->
</body>

</html>